/vendor/
humbuglog.*
/bin/phpunit
.php_cs.cache
/data/mnist-svm-model.phpml
/data/train-images-idx3-ubyte
/data/train-labels-idx1-ubyte
/data/t10k-images-idx3-ubyte
/data/t10k-labels-idx1-ubyte
/data/stackoverflow_*.csv
/data/crimes*.csv
/data/bbc
/model/*
!/model/.gitkeep
